body,.no-js {
    background: black;
}

h1, .welcome {
    font-family: 'Krona One', sans-serif;
}



.jumbotron.jumbotron-fluid, nav{
    background-color: #645878bf;
}


.carouselExampleSlidesOnly{
    size: 12rem;

}

