body {
    background: black;
}

h1 {
    font-family: 'Krona One', sans-serif;
}

p{

}

.jumbotron.jumbotron-fluid{
    background-color: #d6f2ef;
}

nav{
    background-color: #7cb7ba;
}

.carouselExampleSlidesOnly{
    size: 12rem;

}